{% extends "tfmsurveysapp/base.html" %}
{% block content %}
{% load static %}

<script language="JavaScript" type="text/javascript" class="init">
$(document).ready(function() {
var table = $('#Lista').DataTable();
table
    .order( [ 0, 'desc' ] )
    .draw();
} );
</script>
<script language="JavaScript" type="text/javascript">
function importarCampanya(url, import_date) {
	// alert("importarCampanya: cod_campania=" + cod_campania_lime + ", import_date=" + import_date);
	if (import_date != '')
		result = confirm("S'esborrarán les enquestes i comentaris anteriors.\nVoleu continuar?");
	else
		result = true;
	if (result == true) {
		document.getElementById('divProcesando').style.display='block';
		window.location.href = url;
	}
}

function processarComentaris(url) {
	// alert("processarComentaris");
	result = confirm("S'esborrarà la detecció d'incidències anterior i és tornarà a calcular.\nVoleu continuar?");
	if (result == true) {
    	document.getElementById('divProcesando').style.display='block';
    	window.location.href = url;
    }
}
</script>
<div class="TituloPagina">Sel·lecci&oacute; de campanya:</div>
<br/>
<!--
<table width="95%" align="center" border="0" cellspacing="0" cellpadding="5">
	<tr>
		<td align="right">
			Tipus de campanya:
			<select id="BuscaTipusCampanya" name="BuscaTipusCampanya">
				<option value="0">&nbsp;</option>
			{% for campaigntype in campaigntypes_list %}
				<option value="{{ campaigntype.id }}">{{ campaigntype.name }}</option>
			{% endfor %}
			</select>
		</td>
	</tr>
</table>
-->
<div id="divProcesando" style="display:none">
	<img src="{% static "img/procesando.gif" %}"
	style="position:absolute;left:50%;top:50%;transform: translate(-50%, -50%);z-index:1;">
</div>
<table width="100%" border="1" cellpadding="0" cellspacing="0" style="display:none">
	<tr>
		<td>
			<table align="center" border="1" cellspacing="0" cellpadding="0">
				<tr>
					<th>
						cod_campania
					</th>
					<th>
						descripcion
					</th>
				</tr>
				{%	for campania in campania_lime %}
				<tr>
					<td>
						{{ campania.cod_tipo_campania }}
					</td>
					<td>
						{{ campania.descripcion }}
					</td>
				</tr>
				{% endfor %}
			</table>
		</td>
		<td>
			<table align="center" border="1" cellspacing="0" cellpadding="0">
				<tr>
					<th>cod_campania_lime</th>
					<th>name</th>
				</tr>
				{% for campaign in campaign_tfm %}
				<tr>
					<td>
						{{ campaign.cod_tipo_campania_lime }}
					</td>
					<td>
						{{ campaign.name }}
					</td>
				</tr>
    			{% endfor %}
			</table>
		</td>
	</tr>
</table>
<table align="center" width="95%">
	<tr><td>
<table align="center" id="Lista" class="display" >
<!--	<table align="center" id="Lista">  -->
 	<thead>
	<tr>
		<th height="17" align="center">Codi campanya</th>
		<th align="center">Nom campanya</th>
		<th align="center">Codi Tipus campanya</th>
		<th align="center">Tipus campanya</th>
		<th align="center">Data extracci&oacute; Lime</th>
		<th align="center">Data importació</th>
		<th align="center">Accions</th>
	</tr>
	</thead>
	<tbody>
    {% for campaign in campaigns_list %}
	<tr
		{% if campaign.import_date is None %}
			class="FilaInactiva"
		{% else %}
			class="FilaActiva"
		{% endif %}
		>
		<td align="center">
			{{ campaign.cod_campania_lime }}
		</td>
		<td>
			{{ campaign.name }}
		</td>
		<td align="center">{{ campaign.type_campaign_id }}</td>
		<td>{{ campaign.type_campaign.name }}</td>
		<td align="center">{{ campaign.fecha_extraccion_lime|date:'d-m-Y' }}</td>
		<td align="center">{{ campaign.import_date|default_if_none:" "|date:'d-m-Y' }}</td>
		<td align="center" nowrap="nowrap" >
			<a
				onclick="importarCampanya('{% url 'tfmsurveysapp:import_campaign' campaign.cod_campania_lime %}',
						'{{ campaign.import_date|date:'d-m-Y' }}')"
			    onmouseout="MM_swapImgRestore()"
			    onmouseover="MM_swapImage('btnImportar{{ campaign.cod_campania_lime }}','','{% static 'img/importar_up.png' }%',1)"
				style="cursor: pointer">
      			<img src="{% static 'img/importar.png' %}" alt="Importar" title="Importar campanya"
					 name="btnImportar{{ campaign.cod_campania_lime }}" id="btnImportar{{ campaign.cod_campania_lime }}" width="32" height="32" border="0">
			</a>
			{% if not campaign.import_date is None %}
				<a href="{% url 'tfmsurveysapp:comments_list' campaign.cod_campania_lime %}" target="_self"
          			onmouseover="MM_swapImage('btnEditar{{ campaign.cod_campania_lime }}','','{% static 'img/editar_up.png' %}',1)"
          			onmouseout="MM_swapImgRestore()"
					>
          			<img src="{% static 'img/editar.png' %}" alt="Editar" title="Editar campanya" name="btnEditar{{ campaign.cod_campania_lime }}"
          			width="32" height="32" border="0" id="btnEditar{{ campaign.cod_campania_lime }}" />
          		</a>
				<a  onclick="processarComentaris('{% url 'tfmsurveysapp:process_comments' campaign.cod_campania_lime %}')"
          			onmouseover="MM_swapImage('btnCalcular{{ campaign.cod_campania_lime }}','','{% static 'img/calcular_up.png' %}',1)"
          			onmouseout="MM_swapImgRestore()"
					style="cursor: pointer">
          			<img src="{% static 'img/calcular.png' %}" alt="Editar" title="Processar incidencies comentaris" name="btnCalcular{{ campaign.cod_campania_lime }}"
          			width="32" height="32" border="0" id="btnCalcular{{ campaign.cod_campania_lime }}" />
          		</a>
			{% endif %}
		</td>
	</tr>
    {% empty %}<div align="center">No existeixen campanyes que acompleixin aquestes condicions.</div>
    {% endfor %}
	</tbody>
</table>
		</td>
	</tr>
</table>
<br/>
</tr>
{% endblock %}
