{% extends "tfmsurveysapp/base.html" %}
{% block title %}Editar comentari - {{ comment.id }}{% endblock %}
{% block content %}
{% load static %}

<span vocab="http://schema.org/" typeof="Comment">

<table width="100%" cellspacing="0" cellpadding="5" >
	<tr class="TituloPagina">
		<td class="EtiquetaTitulo">Campanya:</td>
		<td>{{ comment.survey.campaign.cod_campania_lime }}</td>
		<td>{{ comment.survey.campaign.name }}</td>
		<td class="EtiquetaTitulo">Tipus campanya:</td>
		<td colspan="2">{{ comment.survey.campaign.type_campaign.name }} </td>
		<td class="EtiquetaTitulo">Data exportaci&oacute;:</td>
		<td>{{ comment.survey.campaign.fecha_extraccion_lime|date:'d-m-Y'  }}</td>
		<td>
			<a href="{% url 'tfmsurveysapp:comments_list' comment.survey.campaign.cod_campania_lime %}" target="_self"
          		onmouseover="MM_swapImage('btnCerrar','','{% static 'img/cerrar32_up.png' %}',1)"
          		onmouseout="MM_swapImgRestore()">
          		<img src="{% static 'img/cerrar32b.png' %}" alt="Tancar" name="btnCerrar"
          		width="32" height="32" border="0" id="btnCerrar" />
          	</a>
		</td>
	</tr>
	<tr class="SubtituloPagina">
		<td class="EtiquetaSubtitulo">sid:</td>
		<td align="left">{{ comment.survey.sid_lime }}</td>
		<td align="left" colspan="7">{{ comment.survey.name }}</td>
	</tr>
</table>
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% if error %}
	{{ error }}
	{% endif %}

<form method="post" enctype="multipart/form-data" >
{% csrf_token %}
	<p>
<table align="center" width="50%" border="0" cellpadding="0" cellspacing="10" class="TablaComentario">
	<tr>
		<td class="EtiquetaComentario" width="20%">
			Tipus pregunta:
		</td>
		<td width="15%">
			<div class="CampoComentarioInactivo">{{ comment.block_type }}</div>
		</tdi>
		<td class="EtiquetaComentario" width="15%">
			Codi pregunta:
		</td>
		<td width="15%">
			<div class="CampoComentarioInactivo">{{ comment.question_id_lime }}</div>
		</td>
		<td class="EtiquetaComentario" width="15%">
			Tid:
		</td>
		<td width="15%">
			<div class="CampoComentarioInactivo">{{ comment.tid_lime }}</div>
		</td>
	</tr>
	<tr>
		<td class="EtiquetaComentario">
			Pregunta:
		</td>
		<td colspan="5">
			<div align="left" class="CampoComentarioInactivo">{{ comment.question }}</div>
		</td>
	</tr>
	<tr valign="top">
		<td class="EtiquetaComentario">Comentari original:</td>
		<td colspan="5">
			<div class="CampoComentarioInactivo">{{ comment.original_value }}</div>
		</td>
	</tr>
	<tr valign="top">
		<td class="EtiquetaComentario">Tipus incid&egrave;ncia:</td>
		<td colspan="5">
			<select class="CampoComentario" id="issue_type" name="issue_type">
				{{ comment.issue_type.id }}
				<option value="0">&nbsp;</option>
				{% for issuetype in issuetypes_list %}
					<option value="{{ issuetype.id }}"
					{% if issuetype.id == comment.issue_type.id %} selected="selected" {% endif %}>
						{{ issuetype.name }}
					</option>
				{% endfor %}
			</select>
		</td>
	</tr>
	<tr valign="top">
		<td class="EtiquetaComentario">Proposta soluci&oacute;:</td>
		<td colspan="5">
			<select id="solution_type" name="solution_type"  class="CampoComentario">
				<option value="0">&nbsp;</option>
				{% for solutiontype in solutiontypes_list %}
					<option value="{{ solutiontype.id }}"
					{% if solutiontype.id == comment.solution_type.id %} selected="selected" {% endif %}>
						{{ solutiontype.name }}
					</option>
				{% endfor %}
			</select>
		</td>
	</tr>
	<tr valign="top">
		<td class="EtiquetaComentario">Comentari proposat:</td>
		<td colspan="5">
			<textarea id="new_value" name="new_value" class="CampoComentario"
					  cols="80" rows="10">{{ comment.new_value|default_if_none:" " }}</textarea>
		</td>
	</tr>
	<tr>
		<td colspan="6" align="center">
			<input type="submit" value="Desar" />
		</td>
	</tr>
</table>
</form>
</p>


{% endblock %}
{% block footer %}

{% endblock %}
