{% extends "tfmsurveysapp/base.html" %}
{% block title %}Editar comentari - {{ comment.id }}{% endblock %}
{% block content %}
{% load static %}

<span vocab="http://schema.org/" typeof="Comment">
<table width="100%" cellspacing="0" cellpadding="5" >
	<tr class="TituloPagina">
		<td class="EtiquetaTitulo">Campanya:</td>
		<td>{{ comment.survey.campaign.cod_campania_lime }}</td>
		<td>{{ comment.survey.campaign.name }}</td>
		<td class="EtiquetaTitulo">Tipus campanya:</td>
		<td colspan="2">{{ comment.survey.campaign.type_campaign.name }} </td>
		<td class="EtiquetaTitulo">Data exportaci&oacute;:</td>
		<td>{{ comment.survey.campaign.fecha_extraccion_lime|date:'d-m-Y'  }}</td>
		<td>
			<a href="{% url 'tfmsurveysapp:comments_list' comment.survey.campaign.cod_campania_lime%}" target="_self"
          		onmouseover="MM_swapImage('btnCerrar','','{% static 'img/cerrar32_up.png' %}',1)"
          		onmouseout="MM_swapImgRestore()">
          		<img src="{% static 'img/cerrar32b.png' %}" alt="Tancar" name="btnCerrar"
          		width="32" height="32" border="0" id="btnCerrar" />
          	</a>
		</td>
	</tr>
	<tr class="SubtituloPagina">
		<td class="EtiquetaSubtitulo">sid:</td>
		<td align="left">{{ comment.survey.sid_lime }}</td>
		<td align="left">{{ comment.survey.name }}</td>
		<td class="EtiquetaSubtitulo">Codi pregunta:</td>
		<td align="left">{{ comment.question_id_lime }}</td>
		<td align="left">{{ comment.question }}</td>
		<td class="EtiquetaSubtitulo">tid:</td>
		<td align="left">{{ comment.tid_lime }}</td>
		<td>&nbsp;</td>
	</tr>
</table>

<p>
<table align="center" border="0" cellpadding="0" cellspacing="10" class="TablaComentario">
	<tr valign="top">
		<td class="EtiquetaComentario">Comentari original:</td>
		<td>
			<textarea id="comentari_original" name="comentari_original" class="CampoComentario"
				cols="80" rows="10" >{{ comment.original_value }}</textarea>
		</td>
	</tr>
	<tr valign="top">
		<td class="EtiquetaComentario">Tipus incid&egrave;ncia:</td>
		<td>
			<select class="CampoComentario">
				<option value="0">Sel·leccioni un tipus d'incid&egrave;ncia</option>
			</select>
			&nbsp;
			<a href="#">Afegir</a>
		</td>
	</tr>
	<tr valign="top">
		<td class="EtiquetaComentario">Proposta soluci&oacute;:</td>
		<td>
			<select class="CampoComentario">
				<option value="0">Sel·leccioni una proposta de soluci&oacute;</option>
			</select>
			&nbsp;
			<a href="#">Afegir</a>
		</td>
	</tr>
	<tr valign="top">
		<td class="EtiquetaComentario">Comentari proposat:</td>
		<td>
			<textarea id="comentari_nou" name="comentari_nou" class="CampoComentario"
					  cols="80" rows="10">{{ comment.new_value }}</textarea>
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
			<table width="100%">
				<tr>
					<td align="center">
						<input type="button" value="Acceptar" />
					</td>
					<td align="center">
						<input type="button" value="Cancel·lar" />
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

</p>


{% endblock %}
{% block footer %}

	{% endblock %}
