{% extends "tfmsurveysapp/base.html" %}
{% block content %}
{% load static %}

<script src="{% static 'celery_progress/celery_progress.js' %}"></script>


<h1>Display progress</h1>
<div class='progress-wrapper'>
  <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
</div>
<div id="progress-bar-message">Waiting for progress to start...</div>
<div id="celery-result"></div>

<script>
document.addEventListener("DOMContentLoaded", function () {

/*
        const task_urls = [
#            {% for task_id in task_ids %}"{% url 'celery_progress:task_status' task_id %}",
#        {% endfor %}];
        for (var i = 0; i < task_urls.length; i++) {
            CeleryProgressBar.initProgressBar(task_urls[i], {
                progressBarId: "progress-bar-" + i,
                progressBarMessageId: "progress-bar-message-" + i,
                resultElementId: "progress-result-" + i
            });
        }
*/
  alert(task_ids);
//  var progressUrl = "{% url 'celery_progress:task_status' task_ids %}";
//  CeleryProgressBar.initProgressBar(progressUrl);

});
</script>


{% endblock %}
