/* CSS Document */

a {	text-decoration: none }

a:link {
	color: #000000;
}
a:active {
	font-weight=bold;
	color: #112288;
	}
a:visited {
	color: #000000 ;
}
a:hover {
	font-weight: bold;
}

.Cabecera {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;

}

.CampoCabecera {
	font-size: 16px;	
}

.CampoDatos {
	
}

.CampoEdicion {
	background-color: #ffffc0;
}

.CampoEdicionCabecera {
	font-size: 16px;
	background-color: #ffffc0;
}

.Error {
	font-size:14px;
	font-weight:bold;
	color:#FF0000;
}

.ErrorTable {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ffffaa;
	border: thin solid black;
	padding: 10px
}

.ErrorTitulo {
	font-size:16px;
	font-weight:bold;
	color:#FF0000;
}	
.Menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #000000;
}
.MenuTD {
	background-color:#E0E0FF;
}
.Menu:link {
	color: #000000;
}
.Menu:visited {
	color: #000000;
}
.Menu:hover {
	color: #000000;
}
.Menu:active {
	color: #000000;
}
.Texto {
	font-family: Arial, Helvetica, sans-serif;
}

.TextoPie {
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
}

.TextoUsuario {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.TablaUsuario {
	border: 3px solid #000000;
}

.TituloPantalla {
	background-color:#E0E0FF;
	border: thin solid #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.DatosTabla {
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #000000;
	background-color: #FDFAFF;
}

.DatosTabla th {
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #000000;
	background-color: #E0E0FF;
}

.DatosCabecera {
	background-color:#E0E0FF;
	border: thin solid #000000;
	font-family: Arial, Helvetica, sans-serif;
}

.DatosLabel {
	font-family: Arial, Helvetica, sans-serif;	
}

.DatosObligatorio {
	font-family: Arial, Helvetica, sans-serif;	
	font-weight: bold;
}

.DatosCampo {
	background-color: #F8F8F8;
	border: 1px solid #000000;
	padding-left: 5px;
	padding-right: 5px;
}

.DatosLista {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	border: 1px solid #000000;
}

.DatosLista th {
	background-color: #E0E0FF;
	border: 1px solid #000000;	
}

.DatosLista td {
	border-bottom: 1px solid #888888;	
	border-right: 1px solid #888888;
}

.DatosListaCelda {
		border: 1px dotted #000000;
	
	font-size: 14px;
}

.DatosListaCodigo {
	border: 1px dotted #000000;
	font-size: 14px;
	text-align: center;
}

.DatosListaFecha {
	border: 1px dotted #000000;
	font-size: 14px;
	text-align: center;
}

.DatosListaImporte {
	border: 1px dotted #000000;
	font-size: 14px;
	text-align: right;
}

.BusquedaTabla {
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #000000;
	background-color: #FAFDFF;
}
